{% block document_widget %}
  {% if data %}
      <div class="document-widget" data-doc="{{ asset('uploads/' ~ data.path) }}">
          <a href="{{ asset('uploads/' ~ data.path) }}" target="_blank">
              {% if data.type == 'image' %}
                  <div class="square">
                      <div class="center">
                          <img src="{{ asset('uploads/' ~ data.thumb) }}" class="document-img" />
                      </div>
                  </div>
              {% else %}
                  <div class="square">
                      <div class="center">
                          <img src="{{ asset('images/doc-icon.svg') }}" class="document-doc" />
                      </div>
                  </div>
              {% endif %}
              <p title="{{ data.fname }}" class="document-fname">{{ data.fname }}</p>
          </a>
          <input type="hidden" id="{{ id }}" name="{{ full_name }}" value="{{ data.id }}">
      </div>
  {% else %}
      <div class="document-widget document-upload" data-image-resize="{{ image_resize|json_encode(constant('JSON_HEX_QUOT') b-or constant('JSON_FORCE_OBJECT')) }}">
          <label for="{{ id }}">
              <div class="square">
                  <div class="center">
                      <img src="{{ asset('images/doc-upload.svg') }}" class="document-doc document-preview" />
                  </div>
              </div>
              <p class="document-fname">UPLOAD</p>
          </label>
          <input class="document-file" type="file" id="{{ id }}" name="{{ full_name }}">
          <input disabled type="hidden" name="{{ full_name }}" value="">
      </div>
  {% endif %}
{% endblock %}
