{% trans_default_domain 'FOSUserBundle' %}

<div class="brand">
  <img width="10%" src="{{ asset('system/images/gio_gems.jpg') }}" />
</div>
<div class="login-wrapper">
  <div class="row">
    <div class="col-md-12">
      <p>Autenticazione</p>
    </div>
    <div class="col-md-12">
      <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
          {% if csrf_token %}
              <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
          {% endif %}

          <div class="form-group">
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="Email"/>
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Password" />
            <i class="fa fa-lock"></i>
          </div>

          {% if error %}
              <div class="row"><div class="alert alert-danger col-sm-12">{{ error.messageKey|trans(error.messageData, 'security') }}</div></div>
          {% endif %}

          <div class="row">
            {# <div class="col-sm-4 remember_me">
              <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
              <label for="remember_me">Ricordami</label>
            </div> #}
            <div class="offset-sm-4 col-sm-4">
              <input class="form-control btn btn-primary" type="submit" id="_submit" name="_submit" value="Accedi" />
            </div>
            <div class="col-sm-4">
              <a class="form-control btn btn-primary href-button{% if is_mobile() %} mt-3{% endif %}" href="{{ path("fos_user_registration_register") }}">Registrati</a>
            </div>
            <div class="col-sm-12 mt-4">
              <a class="" href="{{ path('fos_user_resetting_request') }}">Password dimenticata?</a>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
