{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="brand">
  <img width="100px" src="{{ asset('system/images/gio_gems.jpg') }}"/>
</div>
<div class="login-wrapper">
  <div class="row">
    <div class="col-md-12">
      <p>Resetta la tua password</p>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <p>Ti è stata inoltrata una mail con il link da utilizzare per resettare la tua password.</p>
        <p>Se non hai ricevuto nessuna mail, controlla la cartella dello spam o riprova.</p>
        <small>Il link sarà valido per 2 ore dalla ricezione della mail.</small>
      </div>
      <div class="row">
        <div class="col-sm-4 offset-sm-4 mt-4">
          <a class="" href="{{ path('fos_user_security_login') }}">Torna al login</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
