{% trans_default_domain 'FOSUserBundle' %}

<div class="brand">
  <img width="10%" src="{{ asset('system/images/gio_gems.jpg') }}"/>
</div>
<div class="login-wrapper">
  <div class="row">
    <div class="col-md-12">
      <p>Resetta la tua password</p>
    </div>
    <div class="col-md-12">
      <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <div class="form-group">
              <input class="form-control" type="text" id="username" name="username" placeholder="Email di registrazione" required="required"/>
              <i class="fa fa-user"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 offset-sm-4">
            <input type="submit" class="form-control btn btn-primary href-button" value="Conferma"/>
          </div>
          <div class="col-sm-4 offset-sm-4 mt-4">
            <a class="" href="{{ path('fos_user_security_login') }}">Torna al login</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
