{% trans_default_domain 'FOSUserBundle' %}

<div class="brand">
  <img width="10%" src="{{ asset('system/images/gio_gems.jpg') }}"/>
</div>
<div class="login-wrapper">
  <div class="row">
    <div class="col-md-12">
      <p>Resetta la tua password</p>
    </div>
    <div class="col-md-12">
      {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
      <div class="col-sm-4 offset-sm-4">
        <div class="form-group">
          {{ form_widget(form.plainPassword) }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 offset-sm-4">
          <input type="submit" class="form-control btn btn-primary href-button" value="Conferma"/>
        </div>
        <div class="col-sm-4 offset-sm-4 mt-4">
          <a class="" href="{{ path('fos_user_security_login') }}">Torna al login</a>
        </div>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
