{% trans_default_domain 'FOSUserBundle' %}

  <style>

    body {
      background-color: #E3E7ED;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    .confirmed-content {
      width: 40%;
      margin: 20px auto;
      padding: 40px;
      text-align: center;
      background: #f8f8f8 none repeat scroll 0 0;
      border-radius: 4px;
      box-shadow: 0 7px 14px 0 hsla(231, 23%, 30%, .1), 0 3px 6px 0 hsla(0, 0%, 0%, .07);
    }

    .href-button {
      display: inline-block;
      font-weight: 400;
      color: #212529;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      background: #d25313;
      text-decoration: none;
      color: white;
    }

    .brand {
      text-align: center;
      margin: 7% auto 20px auto;
      color: var(--text-color);
      font-weight: 600;
      font-size: 21px;
    }

  </style>

  <div class="brand">
    <img width="10%" src="{{ asset('system/images/gio_gems.jpg') }}"/>
  </div>
  <div class="confirmed-content">
    <p>Utente attivato con successo!</p>
    <a class="href-button" href="/admin">Entra nel gestionale Gio Gems!</a>
  </div>
