{% trans_default_domain 'FOSUserBundle' %}

  <div class="brand">
    <img width="10%" src="{{ asset('system/images/gio_gems.jpg') }}" />
  </div>
  <div class="login-wrapper">
    <div class="row">
      <div class="col-md-12">
        <p>Registrati</p>
      </div>
      <div class="col-md-12">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

        {% if not form.vars.valid and form.email.vars.errors|length > 0  %}
          {% for errorItem in form.email.vars.errors %}
            <div class="row">
              <div class="alert alert-danger col-md-12 col-sm-12">
               {{ errorItem.message }}
              </div>
            </div>
          {% endfor %}
        {% elseif not form.vars.valid %}
          <div class="row">
            <div class="alert alert-danger col-md-12 col-sm-12">
             {{ form_errors(form) }}
            </div>
          </div>
        {% endif %}

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              {{ form_widget(form.nome) }}
              <i class="fa fa-id-card" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              {{ form_widget(form.cognome) }}
              <i class="fa fa-id-card" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              {{ form_widget(form.email) }}
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              {{ form_widget(form.plainPassword) }}
              <i class="fa fa-lock"></i>
            </div>
          </div>
          <div class="col-sm-4 offset-sm-4 p-2">
            <input class="form-control btn btn-primary" type="submit" value="Registrati"/>
          </div>
        </div>
        {{ form_end(form) }}
        <div class="col-sm-12 mt-4">
          <a class="" href="{{ path('fos_user_security_login') }}">Torna al login</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(function(){
        setTimeout(function(){
            $("#fos_user_registration_form_plainPassword").attr("type","password");
        },10);
    });
  </script>
