{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}

  {% if minerali|length > 0 %}
    <div class="row">
     {% for minerale in minerali %}
       {% if loop.first %}
         {% if minerale.documents|length > 0 %}
           {% set pathToFile = 'uploads/' ~  minerale.documents|first %}
         {% endif %}
       {% endif %}
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          {% if minerale.documents|length > 0 %}
            {% set pathToFile = 'uploads/' ~  minerale.documents|first.path %}
            <img {% if minerale.colore %} style="border: 2px solid {{minerale.colore}};" {% endif %} class="card-img-top" src="{{ asset(pathToFile) }}" alt="Minerale IMG">
          {% endif %}
          <div class="card-body text-center">
            <h5 {% if minerale.colore %} style="color: {{ minerale.colore }};" {% endif %} class="card-title">{{minerale.nome}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Collezionista:</b> {{minerale.collezionista.getFullName}}</li>
            {% if minerale.dimensione %}
              <li class="list-group-item"><b>Dimensioni:</b> {{minerale.dimensione}}</li>
            {% endif %}
            {% if minerale.data %}
              <li class="list-group-item"><b>Data ritrovamento:</b> {{minerale.data|date('d/m/Y')}}</li>
            {% endif %}
          </ul>
          <div class="card-body text-center">

            {% set url = ea_url()
              .setController('App\\Controller\\Admin\\MineraleCrudController')
              .setAction('detail')
              .setEntityId(minerale.id) %}

            <a style="{% if minerale.colore %}background: {{minerale.colore}}; {% endif %}font-weight: bold;"  href="{{url}}" class="card-link btn btn-primary">Maggiori informazioni</a>
          </div>
        </div>
      </div>
     {% endfor %}
    </div>

  {% else %}
    Nessun minerale da mostrare.
  {% endif %}
{% endblock %}
