{% extends '@!EasyAdmin/layout.html.twig' %}

  {% block head_stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  {% endblock %}

  {% block head_javascript %}
    {{parent()}}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{api_google}}&libraries=places,geometry"></script>
  {% endblock head_javascript %}
