/* Minerale new */

#ea-new-Minerale- .form-group {
  display: revert;
}

.ea-edit-Minerale .form-group {
  display: revert;
}

/* Classe mineralogica new */

#ea-new-ClasseMineralogica- .form-group {
  display: revert;
}

.ea-edit-ClasseMineralogica .form-group {
  display: revert;
}

/* Minerale detail */

.ea-detail-Minerale .show {
  display: revert;
}

.ea-detail-Minerale .content-body {
  display: flex;
  flex-wrap: wrap;
}

/* Allegati CSS */

.document-collection-entry {
    padding: 0 20px 15px 0 !important;
}

.document-collection-entry >.form-widget {
    display: block;
    flex: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.document-widget {
    width: 170px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.document-upload .document-fname {
    background-color: var(--highlight-bg);
}

.document-widget:hover {
    box-shadow: 2px 2px;
    cursor: pointer;
}

.document-widget:hover .document-fname {
    color: var(--color-primary);
}

.document-doc {
    width: 40px;
}

.document-img {
    max-width: 100%;
    max-height: 100%;
}

.document-fname {
    margin: 0;
    padding: 5px;
    background-color: #f0f0f0;
    border-top: 1px solid #e0e0e0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.document-upload > label {
    display: block;
    margin: 0;
    text-align: center;
}

.document-file {
    display: none;
}

.square {
    overflow: hidden;
    height: 0;
    padding-top : 100%;
    position: relative;
}

.square > .center {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Collection CSS */

.field-collection-item {
    position: relative;
}

.field-collection-delete-button {
    position: absolute;
    right: -8px;
    top: -8px;
    background-color: var(--color-primary);
    color: var(--text-on-primary);
    padding: 2px 8px;
    z-index: 1;
}

.field-collection-delete-button:hover {
    background-color: var(--color-danger);
    color: white;
}
