<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% block header %}{% endblock %}
  </head>
  {% block body %}{% endblock %}
</html>
