{% extends 'pdf/layout.html.twig' %}

{% block title %}
  Minerale
{% endblock %}

{% block header %}
  <style>
    {% if impostazione != '' %}
      html { background-color: {{ impostazione.backgroundColor }} !important;  font-family: {% if impostazione.fontFamily %} {{ impostazione.fontFamily }}, {% endif %} -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
      body { padding: 20px; color: {{ impostazione.coloreTesto }} !important; font-size: {{ impostazione.fontSize }}px !important; }
      tr:nth-child(even) { background-color: {{ impostazione.sfondoPari}} !important; }
      th { padding-top: 12px;padding-bottom: 12px;text-align: left;background-color: {{ impostazione.sfondoIntestazione }} !important;color: {{ impostazione.coloreIntestazione }} !important; }
      h3 { font-weight: bolder;text-align: center; color: {{ impostazione.coloreTesto }} !important; }
      caption { margin-bottom: 1%;color: {{ impostazione.coloreCaption }} !important; }
    {% else %}
      tr:nth-child(even) { background-color: #f2f2f2; }
      th { padding-top: 12px;padding-bottom: 12px;text-align: left;background-color: #4CAF50;color: white; }
      body { padding: 20px; }
      h3 { font-weight: bolder;text-align: center; }
      caption { margin-bottom: 1%; }
    {% endif %}
    td, th { text-align: left;border: 1px solid #ddd;padding: 8px; }
    table { width: 100%; }
    hr { margin-top: 5%;margin-bottom: 5%;}
    .footer { margin-top: 10%; }
    .header { width: 100%; }
    .body { width: 100%; }
    .float-left { float: left;}
    .d-block { display: block; }
    .text-center { text-align: center; }
    .allegati-minerali { width: 50%; }
    .header-pdf { width: 50%; }
  </style>
{% endblock %}

{% block body %}

  <table>
    <tr>
      <td style="width: 50%;border: 0;">
        {% if minerale.documents | length > 0 %}
          {% for doc in minerale.documents %}
            <img style="object-fit: cover;" src="{{ base_path }}/uploads/{{ doc.path }}" width="{% if loop.first %}77.3%{% else %}25%{% endif %}" height="{% if loop.first %}180px{% else %}70px{% endif %}">
          {% endfor %}
        {% endif %}
      </td>
      <td style="width: 50%;border: 0;">
        {% if minerale.numero %}
          <p class="text-center">
            <strong>N°
              {{ minerale.numero }}</strong>
          </p>
        {% endif %}
        {% if minerale.nome %}
          <p class="text-center">
            <strong>{{ minerale.nome }}</strong>
          </p>
        {% endif %}
        {% if minerale.formula %}
          <p class="text-center">
            <strong>{{ minerale.formula }}</strong>
          </p>
        {% endif %}
        {% if minerale.accessori %}
          <p class="text-center">
            <strong>{{ minerale.accessori }}</strong>
          </p>
        {% endif %}
        <p class="text-center">
          <strong>
            {% if minerale.geoLoc %}
              {{ minerale.geoLoc|split(',', 2)[0] }},
            {% endif %}

            {% if minerale.geoProv %}
              {{ minerale.geoProv }},
            {% endif %}

            {% if minerale.geoReg %}
              {{ minerale.geoReg }},
            {% endif %}

            {% if minerale.geoNaz %}
              {{ minerale.geoNaz }}
            {% endif %}
          </strong>
        </p>
        {% if minerale.dataCollezione %}
          <p class="text-center">
            <strong>{{ minerale.dataCollezione|date('d/m/Y') }}</strong>
          </p>
        {% endif %}
      </td>
    </tr>
  </table>

  <hr>

  <table>
    <caption>Caratteristiche del minerale</caption>
    {% if minerale.dimensione %}
      <tr>
        <th>Dimensioni del minerale</th>
        <td>{{ minerale.dimensione }}</td>
      </tr>
    {% endif %}
    {% if minerale.dimensioneCristallo %}
      <tr>
        <th>Dimensioni del cristallo più grande</th>
        <td>{{ minerale.dimensioneCristallo }}</td>
      </tr>
    {% endif %}
    {% if minerale.peso %}
      <tr>
        <th>Peso del minerale</th>
        <td>{{ (minerale.peso)|number_format(0, ',', '.') }}
          g</td>
      </tr>
    {% endif %}
    {% if minerale.colore %}
      <tr>
        <th>Colore del minerale</th>
        <td style="background: {{ minerale.colore }};"></td>
      </tr>
    {% endif %}
    {% if minerale.collocazione %}
      <tr>
        <th>Collocazione del minerale</th>
        <td>{{ minerale.collocazione }}</td>
      </tr>
    {% endif %}
    {% if minerale.fluo %}
      <tr>
        <th>Fluorescenza del minerale</th>
        <td>{{ minerale.fluo }}</td>
      </tr>
    {% endif %}
    {% if minerale.matrice %}
      <tr>
        <th>Matrice del minerale</th>
        <td>{{ minerale.matrice }}</td>
      </tr>
    {% endif %}
    {% if minerale.classe %}
      <tr>
        <th>Classe mineralogica</th>
        <td>{{ minerale.classe.nome }}</td>
      </tr>
    {% endif %}
  </table>

  {% if impostazione != '' and impostazione.nascondiValore %}
  {% else %}
    <table style="margin-top:5%;">
      <caption>Valore del minerale</caption>
      {% if minerale.valore %}
        <tr>
          <th>Valore del minerale</th>
          <td>{{ (minerale.valore / 100)|number_format(2, '.', ',') }}
            €</td>
        </tr>
      {% endif %}
      {% if minerale.prezzoVendita %}
        <tr>
          <th>Prezzo di vendita del minerale</th>
          <td>{{ (minerale.prezzoVendita / 100)|number_format(2, '.', ',') }}
            €</td>
        </tr>
      {% endif %}
      {% if minerale.valoreData %}
        <tr>
          <th>Data di aggiornamento del valore</th>
          <td>{{ minerale.valoreData|date('d/m/Y') }}</td>
        </tr>
      {% endif %}
    </table>
  {% endif %}
  {% if minerale.note %}
    <table style="margin-top: 5%;">
      <caption>Note aggiuntive</caption>
      <tr>
        <th>Note</th>
      </tr>
      <tr>
        <td>{{ minerale.note }}</td>
      </tr>
    </table>
  {% endif %}

  <hr>

  <small class="text-center d-block">Collezione mineralogica di
    {{ minerale.collezionista.getFullName }}</small>
  <br>
  {% if impostazione != '' and impostazione.indirizzoCollezionista %}
    <small class="text-center d-block">{{ impostazione.indirizzoCollezionista }}</small>
  {% endif %}

{% endblock %}
