:root {
  --color-primary: #d25313;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.content-panel-body {
  display: flex;
  flex-wrap: wrap;
}

.full-width .form-group .form-widget input,
.full-width .form-group .form-widget textarea,
.full-width .form-group .form-widget .select2-selection,
.full-width .form-group .form-widget .select2-container {
  max-width: 100%;
  width: 100% !important;
}

input[type=date] {
  width: 100% !important;
}
