body {
  background-color: #E3E7ED !important;
}

.login-wrapper {
  width: 40%;
  margin: 20px auto;
  padding: 40px;
  text-align: center;
  background: #f8f8f8 none repeat scroll 0 0;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-lg);
}

.login-wrapper i {
  color: #d25313;
}

.brand {
  text-align: center;
  margin: 7% auto 20px auto;
  color: var(--text-color);
  font-weight: 600;
  font-size: 21px;
}

.login-wrapper form {
  display: flex;
  flex-direction: column;
}

.login-wrapper .form-group {
  position: relative;
}

.login-wrapper .form-group .fa {
  position: absolute;
  top: 10px;
  right: 20px;
}

.login-wrapper form input.btn-primary {
  background-color: #d25313;
  border-color: #d25313;
}

.login-wrapper form input.btn-primary:active {
  background-color: #d25313 !important;
}

.login-wrapper form .remember_me {
  text-align: left;
  margin-top: 6px;
}

.href-button {
  background-color: #d25313 !important;
  border-color: #d25313 !important;
}

.login-wrapper form input.btn-primary:hover {
  background-color: #d25313 !important;
}

.login-wrapper form a.btn-primary:hover {
  background-color: #d25313 !important;
}

i {
  color: var(--color-primar)y;
}

@media (max-width: 992px) {
  .login-wrapper {
    width: 99%;
  }
}
