{% if entity.instance.documents|length > 0 %}

<div class="row">
  {% for doc in entity.instance.documents %}
    <div class="document-widget ml-3" data-doc="uploads/{{doc.path}}">
      <a href="uploads/{{doc.path}}" target="_blank">
        <div class="square">
          <div class="center">
            {% set pathToFile = doc.path|split('/')[1] %}
            <img src="uploads/image/.thumbs/{{pathToFile}}" class="document-img">
          </div>
        </div>
        <p title="{{ doc.fname }}" class="document-fname">{{ doc.fname }}</p>
      </a>
    </div>
  {% endfor %}
</div>

{% else %}
  <span class="badge badge-secondary">Null</span>
{% endif %}
